h2, h3 {
    padding-left: 20px;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    position: static;
    top: 0;
    left: 0;
}

h2 {
    padding-top: 10px;
}

header {
    background-color: rgb(55, 99, 149);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    text-align: left;
    color: white;
    height: 70px;
    padding-top: 5px;
    padding-left: 50px;
}

#author {
    font-size: 18px;
    position: absolute;
}

.wrapper {
    display: flex;
    flex-grow: 1;
    min-height: calc(100vh - 90px);
}

.verse {
    list-style-type: none;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.left-column {
    flex: 1;
    /* background-color: #4c6444; */
    color: black;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}

.left-column-content {
    max-height: calc(100vh - 90px);
    overflow: scroll;
}

.left-column-content::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.right-column {
    flex: 2;
    display: flex;
}

.text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    display: inline-flex;
    padding-bottom: 10px;
}

strong {
    padding-left: 5px;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(1, 69, 136);
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

svg {
    width: 100%;
    height: 100%;
}

#legend {
    background-color: darkgray;
    border: 1px solid #888;
    font-size: 14px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    width: 10%;
    margin-right: 2%;
    margin-top: 15%;
    height: 72%;
    padding: 2%;
}

.filler-verse {
    height: 50px;
}

.right-column-content {
    margin: 0;
    padding: 0;
}

#progress {
    position: absolute;
    bottom: 1%;
    right: 20%;
    text-align: center;
}

#year-select {
    padding-left: 5px;
}

#hint {
    font-size: 12px;
    padding-left: 10px;
    color: rgb(223, 223, 223);
}

#continentTemp span {
    display: inline-block;
    width: 50px;
    margin-right: 5px;
}

#continentTemp {
    font-size: 15px;
}
